<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else telaFinal">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #telaFinal>
  <div *ngIf="resultado === 'vitoria'; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="container" style="margin-top: 50px;">
      <div class="jumbotron row">
        <h3 class="display-4 col">Parabéns, você venceu! =)</h3>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="container" style="margin-top: 50px;">
      <div class="jumbotron row">
        <h3 class="display-4 col">Que pena, você errou... =(</h3>
      </div>
    </div>
  </ng-template>
</ng-template>
